@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,700&family=Playfair+Display:wght@800&display=swap');

.img {
    background-image: linear-gradient(to bottom, rgba(131, 133, 131, 0.171), rgb(12, 12, 12)), url('/assets/img/wallpaper.jpg');
    background-size: cover;
    background-position: center;  
    min-height: 92%;
    overflow-x: hidden;
    position: relative;
}

.wall {
    color:rgb(247, 244, 244);
    -webkit-text-stroke: rgb(13, 15, 29);
    font-family: 'Playfair Display', serif;
    padding-top: 50vh;
    padding-left: 8vh;
    font-size: 2rem;
}

span {
    color: rgb(253, 237, 14);
}
