@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

.img {
    background-image: url('/assets/img/mtn.jpg') !important;
    background-size: cover;
    background-position: center;  
    background-blend-mode: darken;  
    min-height: 100%;
}

.wall {
    color:rgb(245, 11, 11);
    -webkit-text-stroke: black 5px;
    font-family: 'Bangers', cursive;
    padding-top: 2rem;
    font-size: 5rem;
}


