<mat-toolbar color="primary" class="nav-box">  
    <div class = "nav">
        <a routerLink="/">Home</a>
        <div>
            <ul>
                <li><a  routerLink="/dashboard">Dashboard</a></li>
                <li><a  *ngIf = "loginStatus.getLoginStatus()" routerLink="/driver">New ride</a></li>
                <li><a  *ngIf = "!loginStatus.getLoginStatus()" routerLink="/login">Login</a></li>
                <li><a  *ngIf = "loginStatus.getLoginStatus()" routerLink="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</mat-toolbar>